*{
  margin: 0;
  padding: 0;
  text-align: center;
}
.head{
  display: grid;
  width: 100vw;
  place-content: center;
  position: absolute;
  top: 50px;
}
.box{
  position: absolute;
  top: 8rem;
  width: 100vw;
  display: grid;
  place-content: center;
}
.list{
  max-height: 7rem;
  overflow-y: auto;
}
.list::-webkit-scrollbar{
  display: none;
}


